body {
    /* perspective: 512px; */
    position: absolute;

    top: 0;
    bottom: 0;

    left: 0;
    right: 0;

    margin: 0;
    padding: 0;

    background-color: white;

    /* background: url(../img/background.png) no-repeat fixed;
    background-size: cover; */

    overflow-x: hidden;
    overflow-y: hidden;
}

#canvas_background {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    filter: blur(0px);
}

#background {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    filter: blur(0px);
}

#foreground {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    filter: blur(0px);
    pointer-events: none;
}

#elips {
    position: absolute;
    transform: rotateX(45deg);
    top: 30vh;
    /* bottom: 30%; /
    left: 50%;
    / right: 30%; /
    margin: 0;
    margin-left: -20vh;
    padding: 0;
    background-color: rgba(255, 128, 0, 1);
    / background-color: rgba(255, 128, 0, 0.5); /
    / border-radius: 1024px; /
    / border-style: solid; /
    / border-width: 2px 30px 2px 30px; */
    filter: blur(0px);
    width: 40vh;
    height: 40vh;
    overflow: hidden;
    left: 50%;
    margin-left: -20vh;
    color: lightgray;
    /* position: absolute;
    transform: rotateX(45deg);

    top: 30%;
    bottom: 30%;

    left: 30%;
    right: 30%;

    margin: 0;
    padding: 0;

    background-color: rgba(255, 128, 0, 0);
    /*background-color: rgba(255, 128, 0, 0.5);*/
    /* border-radius: 1024px;

    border-style: solid;
    border-width: 2px 30px 2px 30px;

    filter: blur(0px); */
}
